@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .note {
        @apply p-4 my-6 text-gray-800 rounded-lg bg-gray-50 border dark:bg-gray-700 dark:text-gray-300 border-gray-400;
    }

    .tip {
        @apply p-4 my-6 text-green-800 rounded-lg bg-green-50 border dark:bg-gray-700 dark:text-green-400 border-green-400;
    }

    .info {
        @apply p-4 my-6 text-purple-800 rounded-lg bg-purple-50 border dark:bg-gray-700 dark:text-purple-400 border-purple-400;
    }

    .warning {
        @apply p-4 my-6 text-yellow-800 rounded-lg bg-yellow-50 border dark:bg-gray-700 dark:text-yellow-400 border-yellow-400;
    }

    .critical, .caution {
        @apply p-4 my-6 text-red-800 rounded-lg bg-red-50 border dark:bg-gray-700 dark:text-red-300 border-red-300;
    }

    .note > *, .tip > *, .info > *, .warning > *, .critical > *, .caution > * {
        @apply mx-1 my-0;
    }

    .anchor {
        @apply no-underline text-gray-300 hover:text-gray-500 dark:text-gray-600 dark:hover:text-gray-400;
    }
}

#sidebar {
    left: -100vw;
    transition: left 0.2s ease-out;
}

@media (min-width: 768px) {
    #sidebar {
        left: 0;
    }
}

#sidebar.open {
    left: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

.active > .wrapper {
    grid-template-rows: 1fr;
}

.inner {
    overflow: hidden;
}

.chevron > svg {
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

.active > div > .chevron > svg {
    transform: rotate(90deg);
}

pre.chroma {
    @apply p-4 my-6 rounded-lg border dark:border-gray-600 dark:text-gray-100 overflow-x-auto bg-gray-100 dark:bg-gray-700;
}

/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* Line */ .chroma .line { display: flex; }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* LineHighlight */ .chroma .hl { background-color: #e5e5e5 } /* #e5e5e5 */

/* LineNumbersTable */ html.dark .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #e5e7eb } /* #7f7f7f */
/* LineNumbers */ html.dark .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #e5e7eb } /* #7f7f7f */
/* Keyword */ html.dark .chroma .k { color: #bfdbfe } /* #0000ff */
/* KeywordConstant */ html.dark .chroma .kc { color: #bfdbfe } /* #0000ff */
/* KeywordDeclaration */ html.dark .chroma .kd { color: #bfdbfe } /* #0000ff */
/* KeywordNamespace */ html.dark .chroma .kn { color: #bfdbfe } /* #0000ff */
/* KeywordPseudo */ html.dark .chroma .kp { color: #bfdbfe } /* #0000ff */
/* KeywordReserved */ html.dark .chroma .kr { color: #bfdbfe } /* #0000ff */
/* KeywordType */ html.dark .chroma .kt { color: #99f6e4 } /* #2b91af */
/* NameClass */ html.dark .chroma .nc { color: #99f6e4 } /* #2b91af */
/* LiteralString */ html.dark .chroma .s { color: #fecaca } /* #a31515 */
/* LiteralStringAffix */ html.dark .chroma .sa { color: #fecaca } /* #a31515 */
/* LiteralStringBacktick */ html.dark .chroma .sb { color: #fecaca } /* #a31515 */
/* LiteralStringChar */ html.dark .chroma .sc { color: #fecaca } /* #a31515 */
/* LiteralStringDelimiter */ html.dark .chroma .dl { color: #fecaca } /* #a31515 */
/* LiteralStringDoc */ html.dark .chroma .sd { color: #fecaca } /* #a31515 */
/* LiteralStringDouble */ html.dark .chroma .s2 { color: #fecaca } /* #a31515 */
/* LiteralStringEscape */ html.dark .chroma .se { color: #fecaca } /* #a31515 */
/* LiteralStringHeredoc */ html.dark .chroma .sh { color: #fecaca } /* #a31515 */
/* LiteralStringInterpol */ html.dark .chroma .si { color: #fecaca } /* #a31515 */
/* LiteralStringOther */ html.dark .chroma .sx { color: #fecaca } /* #a31515 */
/* LiteralStringRegex */ html.dark .chroma .sr { color: #fecaca } /* #a31515 */
/* LiteralStringSingle */ html.dark .chroma .s1 { color: #fecaca } /* #a31515 */
/* LiteralStringSymbol */ html.dark .chroma .ss { color: #fecaca } /* #a31515 */
/* OperatorWord */ html.dark .chroma .ow { color: #bfdbfe } /* #0000ff */
/* Comment */ html.dark .chroma .c { color: #bbf7d0 } /* #008000 */
/* CommentHashbang */ html.dark .chroma .ch { color: #bbf7d0 } /* #008000 */
/* CommentMultiline */ html.dark .chroma .cm { color: #bbf7d0 } /* #008000 */
/* CommentSingle */ html.dark .chroma .c1 { color: #bbf7d0 } /* #008000 */
/* CommentSpecial */ html.dark .chroma .cs { color: #bbf7d0 } /* #008000 */
/* CommentPreproc */ html.dark .chroma .cp { color: #bfdbfe } /* #0000ff */
/* CommentPreprocFile */ html.dark .chroma .cpf { color: #bfdbfe } /* #0000ff */

/* LineNumbersTable */ html:not(.dark) .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #374151 } /* #7f7f7f */
/* LineNumbers */ html:not(.dark) .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #374151 } /* #7f7f7f */
/* Keyword */ html:not(.dark) .chroma .k { color: #1d4ed8 } /* #0000ff */
/* KeywordConstant */ html:not(.dark) .chroma .kc { color: #1d4ed8 } /* #0000ff */
/* KeywordDeclaration */ html:not(.dark) .chroma .kd { color: #1d4ed8 } /* #0000ff */
/* KeywordNamespace */ html:not(.dark) .chroma .kn { color: #1d4ed8 } /* #0000ff */
/* KeywordPseudo */ html:not(.dark) .chroma .kp { color: #1d4ed8 } /* #0000ff */
/* KeywordReserved */ html:not(.dark) .chroma .kr { color: #1d4ed8 } /* #0000ff */
/* KeywordType */ html:not(.dark) .chroma .kt { color: #0f766e } /* #2b91af */
/* NameClass */ html:not(.dark) .chroma .nc { color: #0f766e } /* #2b91af */
/* LiteralString */ html:not(.dark) .chroma .s { color: #b91c1c } /* #a31515 */
/* LiteralStringAffix */ html:not(.dark) .chroma .sa { color: #b91c1c } /* #a31515 */
/* LiteralStringBacktick */ html:not(.dark) .chroma .sb { color: #b91c1c } /* #a31515 */
/* LiteralStringChar */ html:not(.dark) .chroma .sc { color: #b91c1c } /* #a31515 */
/* LiteralStringDelimiter */ html:not(.dark) .chroma .dl { color: #b91c1c } /* #a31515 */
/* LiteralStringDoc */ html:not(.dark) .chroma .sd { color: #b91c1c } /* #a31515 */
/* LiteralStringDouble */ html:not(.dark) .chroma .s2 { color: #b91c1c } /* #a31515 */
/* LiteralStringEscape */ html:not(.dark) .chroma .se { color: #b91c1c } /* #a31515 */
/* LiteralStringHeredoc */ html:not(.dark) .chroma .sh { color: #b91c1c } /* #a31515 */
/* LiteralStringInterpol */ html:not(.dark) .chroma .si { color: #b91c1c } /* #a31515 */
/* LiteralStringOther */ html:not(.dark) .chroma .sx { color: #b91c1c } /* #a31515 */
/* LiteralStringRegex */ html:not(.dark) .chroma .sr { color: #b91c1c } /* #a31515 */
/* LiteralStringSingle */ html:not(.dark) .chroma .s1 { color: #b91c1c } /* #a31515 */
/* LiteralStringSymbol */ html:not(.dark) .chroma .ss { color: #b91c1c } /* #a31515 */
/* OperatorWord */ html:not(.dark) .chroma .ow { color: #1d4ed8 } /* #0000ff */
/* Comment */ html:not(.dark) .chroma .c { color: #15803d } /* #008000 */
/* CommentHashbang */ html:not(.dark) .chroma .ch { color: #15803d } /* #008000 */
/* CommentMultiline */ html:not(.dark) .chroma .cm { color: #15803d } /* #008000 */
/* CommentSingle */ html:not(.dark) .chroma .c1 { color: #15803d } /* #008000 */
/* CommentSpecial */ html:not(.dark) .chroma .cs { color: #15803d } /* #008000 */
/* CommentPreproc */ html:not(.dark) .chroma .cp { color: #1d4ed8 } /* #0000ff */
/* CommentPreprocFile */ html:not(.dark) .chroma .cpf { color: #1d4ed8 } /* #0000ff */