@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .note {
        @apply p-4 mb-2 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-400;
    }
    .tip {
        @apply p-4 mb-2 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400;
    }
    .info {
        @apply p-4 mb-2 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400;
    }
    .warning {
        @apply p-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
    }
    .caution {
        @apply p-4 mb-2 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300;
    }
}

#sidebar {
    left: -100vw;
    transition: left 0.2s ease-out;
}

@media (min-width: 768px) {
    #sidebar {
        left: 0;
    }
}

#sidebar.open {
    left: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

.active > .wrapper {
    grid-template-rows: 1fr;
}

.inner {
    overflow: hidden;
}

.chevron {
    transform: rotate(-90deg);
    transition: grid-template-rows 0.2s ease-out;
}

.active > div > .chevron {
    transform: rotate(0deg);
}