@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .note {
        @apply p-4 my-6 text-gray-800 rounded-lg bg-gray-50 border dark:bg-gray-700 dark:text-gray-300 border-gray-400;
    }

    .tip {
        @apply p-4 my-6 text-green-800 rounded-lg bg-green-50 border dark:bg-gray-700 dark:text-green-400 border-green-400;
    }

    .info {
        @apply p-4 my-6 text-purple-800 rounded-lg bg-purple-50 border dark:bg-gray-700 dark:text-purple-400 border-purple-400;
    }

    .warning {
        @apply p-4 my-6 text-yellow-800 rounded-lg bg-yellow-50 border dark:bg-gray-700 dark:text-yellow-400 border-yellow-400;
    }

    .critical, .caution {
        @apply p-4 my-6 text-red-800 rounded-lg bg-red-50 border dark:bg-gray-700 dark:text-red-300 border-red-300;
    }

    .note > *, .tip > *, .info > *, .warning > *, .critical > *, .caution > * {
        @apply mx-1 my-0;
    }

    .anchor {
        @apply no-underline text-gray-300 hover:text-gray-500 dark:text-gray-600 dark:hover:text-gray-400;
    }
}

/* common */

.no-js .hide-no-js {
    display: none;
}

/* sidebar */

#sidebar {
    left: -100vw;
    transition: left 0.2s ease-out;
}

@media (min-width: 768px) {
    #sidebar {
        left: 0;
    }
}

#sidebar.open {
    left: 0;
}

#sidebar details > summary {
    list-style: none;
}

#sidebar details > summary::marker, /* Latest Chrome, Edge, Firefox */
#sidebar details > summary::-webkit-details-marker /* Safari */ {
    display: none;
}

#sidebar details > .chevron > svg {
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

#sidebar details[open] > summary > .chevron > svg {
    transform: rotate(90deg);
}

/* syntax highlighting */

pre.chroma {
    @apply p-4 my-6 rounded-lg border dark:border-gray-600 dark:text-gray-100 overflow-x-auto bg-gray-100 dark:bg-gray-700;
}

/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* Line */ .chroma .line { display: flex; }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* LineHighlight */ .chroma .hl { background-color: #e5e5e5 } /* #e5e5e5 */

@media (prefers-color-scheme: dark) {
    /* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #e5e7eb } /* #7f7f7f */
    /* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #e5e7eb } /* #7f7f7f */
    /* Keyword */ .chroma .k { color: #bfdbfe } /* #0000ff */
    /* KeywordConstant */ .chroma .kc { color: #bfdbfe } /* #0000ff */
    /* KeywordDeclaration */ .chroma .kd { color: #bfdbfe } /* #0000ff */
    /* KeywordNamespace */ .chroma .kn { color: #bfdbfe } /* #0000ff */
    /* KeywordPseudo */ .chroma .kp { color: #bfdbfe } /* #0000ff */
    /* KeywordReserved */ .chroma .kr { color: #bfdbfe } /* #0000ff */
    /* KeywordType */ .chroma .kt { color: #99f6e4 } /* #2b91af */
    /* NameClass */ .chroma .nc { color: #99f6e4 } /* #2b91af */
    /* LiteralString */ .chroma .s { color: #fecaca } /* #a31515 */
    /* LiteralStringAffix */ .chroma .sa { color: #fecaca } /* #a31515 */
    /* LiteralStringBacktick */ .chroma .sb { color: #fecaca } /* #a31515 */
    /* LiteralStringChar */ .chroma .sc { color: #fecaca } /* #a31515 */
    /* LiteralStringDelimiter */ .chroma .dl { color: #fecaca } /* #a31515 */
    /* LiteralStringDoc */ .chroma .sd { color: #fecaca } /* #a31515 */
    /* LiteralStringDouble */ .chroma .s2 { color: #fecaca } /* #a31515 */
    /* LiteralStringEscape */ .chroma .se { color: #fecaca } /* #a31515 */
    /* LiteralStringHeredoc */ .chroma .sh { color: #fecaca } /* #a31515 */
    /* LiteralStringInterpol */ .chroma .si { color: #fecaca } /* #a31515 */
    /* LiteralStringOther */ .chroma .sx { color: #fecaca } /* #a31515 */
    /* LiteralStringRegex */ .chroma .sr { color: #fecaca } /* #a31515 */
    /* LiteralStringSingle */ .chroma .s1 { color: #fecaca } /* #a31515 */
    /* LiteralStringSymbol */ .chroma .ss { color: #fecaca } /* #a31515 */
    /* OperatorWord */ .chroma .ow { color: #bfdbfe } /* #0000ff */
    /* Comment */ .chroma .c { color: #bbf7d0 } /* #008000 */
    /* CommentHashbang */ .chroma .ch { color: #bbf7d0 } /* #008000 */
    /* CommentMultiline */ .chroma .cm { color: #bbf7d0 } /* #008000 */
    /* CommentSingle */ .chroma .c1 { color: #bbf7d0 } /* #008000 */
    /* CommentSpecial */ .chroma .cs { color: #bbf7d0 } /* #008000 */
    /* CommentPreproc */ .chroma .cp { color: #bfdbfe } /* #0000ff */
    /* CommentPreprocFile */ .chroma .cpf { color: #bfdbfe } /* #0000ff */
}

@media (prefers-color-scheme: light) {
    /* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #374151 } /* #7f7f7f */
    /* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #374151 } /* #7f7f7f */
    /* Keyword */ .chroma .k { color: #1d4ed8 } /* #0000ff */
    /* KeywordConstant */ .chroma .kc { color: #1d4ed8 } /* #0000ff */
    /* KeywordDeclaration */ .chroma .kd { color: #1d4ed8 } /* #0000ff */
    /* KeywordNamespace */ .chroma .kn { color: #1d4ed8 } /* #0000ff */
    /* KeywordPseudo */ .chroma .kp { color: #1d4ed8 } /* #0000ff */
    /* KeywordReserved */ .chroma .kr { color: #1d4ed8 } /* #0000ff */
    /* KeywordType */ .chroma .kt { color: #0f766e } /* #2b91af */
    /* NameClass */ .chroma .nc { color: #0f766e } /* #2b91af */
    /* LiteralString */ .chroma .s { color: #b91c1c } /* #a31515 */
    /* LiteralStringAffix */ .chroma .sa { color: #b91c1c } /* #a31515 */
    /* LiteralStringBacktick */ .chroma .sb { color: #b91c1c } /* #a31515 */
    /* LiteralStringChar */ .chroma .sc { color: #b91c1c } /* #a31515 */
    /* LiteralStringDelimiter */ .chroma .dl { color: #b91c1c } /* #a31515 */
    /* LiteralStringDoc */ .chroma .sd { color: #b91c1c } /* #a31515 */
    /* LiteralStringDouble */ .chroma .s2 { color: #b91c1c } /* #a31515 */
    /* LiteralStringEscape */ .chroma .se { color: #b91c1c } /* #a31515 */
    /* LiteralStringHeredoc */ .chroma .sh { color: #b91c1c } /* #a31515 */
    /* LiteralStringInterpol */ .chroma .si { color: #b91c1c } /* #a31515 */
    /* LiteralStringOther */ .chroma .sx { color: #b91c1c } /* #a31515 */
    /* LiteralStringRegex */ .chroma .sr { color: #b91c1c } /* #a31515 */
    /* LiteralStringSingle */ .chroma .s1 { color: #b91c1c } /* #a31515 */
    /* LiteralStringSymbol */ .chroma .ss { color: #b91c1c } /* #a31515 */
    /* OperatorWord */ .chroma .ow { color: #1d4ed8 } /* #0000ff */
    /* Comment */ .chroma .c { color: #15803d } /* #008000 */
    /* CommentHashbang */ .chroma .ch { color: #15803d } /* #008000 */
    /* CommentMultiline */ .chroma .cm { color: #15803d } /* #008000 */
    /* CommentSingle */ .chroma .c1 { color: #15803d } /* #008000 */
    /* CommentSpecial */ .chroma .cs { color: #15803d } /* #008000 */
    /* CommentPreproc */ .chroma .cp { color: #1d4ed8 } /* #0000ff */
    /* CommentPreprocFile */ .chroma .cpf { color: #1d4ed8 } /* #0000ff */
}