@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle {
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.is-active .wrapper {
    grid-template-rows: 1fr;
}

.inner {
    overflow: hidden;
}

.chevron {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-out;
}

.is-active .chevron {
    transform: rotate(0deg);
}