@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

.active > .wrapper {
    grid-template-rows: 1fr;
}

.inner {
    overflow: hidden;
}

.chevron {
    transform: rotate(-90deg);
    transition: grid-template-rows 0.2s ease-out;
}

.active > div > .chevron {
    transform: rotate(0deg);
}